#footer {
  color: #5C5C5C;
  .copyright {
    background-color: #4B4C50;
    min-height: 50px;
    color: white;
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
  }
}
