#lakehub-nav-menu {
  .top-bar {
    background:  {
      image: url('/assets/img/menu-bg.png');
      size: cover;
      position: top left;
      repeat: no-repeat;
    }
    ul {
      background: transparent;
    }
  }
  .menu a {
    color: white;
  }
}
.row.full-width-row {
  max-width: 90rem;
}
