<div id='lakehub-nav-menu'>
  <div class="top-bar">
    <div class="top-bar-title show-for-small-only" >
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium" >
        <button class="menu-icon dark" type="button" data-toggle></button>
      </span>
    </div>
    <div id="responsive-menu" >
      <div class="" >
        <ul class="menu" >
          <div class='row full-width-row' >
      <div class='medium-3 columns' >
        <li><a href="#">Contacts</a></li>
      </div>
      <div class='medium-3 columns' >
        <li><a href="/projects.html">Programs</a></li>
      </div>
      <div class='medium-3 columns' >
        <li><a href="/events.html" >Events</a></li>
      </div>
      <div class='medium-3 columns' >
        <li><a href="http://community.lakehub.co.ke" >Blog</a></li>
      </div>
          </div>
        </ul>
      </div>
    </div>
  </div>

</div>
