<div class="top-bar" id="lakehub-menu">
  <div class='row custom-wide-row' >

    <div class="top-bar-left columns medium-4" >
      <ul class="dropdown menu" data-dropdown-menu >
        <li><a href="/index.html">
            <img src="{{root}}/assets/img/lakehub-logo.png" alt="lakehub logo">
          </a></li>
      </ul>
    </div>

    <div class="top-xbar-right columns medium-8" >
      <ul class="menu">
        <li class='techies' >Techies & creatives</li>
      </ul>
    </div>

  </div>
</div>
